<!DOCTYPE html>
<html>
<head>
  <title>Quiz App</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
  <style>
    body{
      background:blue;
    }
  </style>
</head>
<body> 

  <div class="home-page">

  	<h1>The Chemistry Quiz(Quiz for Nerdz)</h1>
  	
  	<form method="POST" action="/results">
  	<p>1. What is the atomic symbol for antimony?</p>
  		<input type="radio" name="q1" value="q1a1">An<br>
  		<input type="radio" name="q1" value="q1a2">Sn<br>
  		<input type="radio" name="q1" value="Sb">Sb<br>
  		<input type="radio" name="q1" value="q1a4">SB<br>
  	<p>2. Halogens and what atomic family react especially violently?</p>
  		<input type="radio" name="q2" value="q2a1">Alkaline Earth Metals<br>
  		<input type="radio" name="q2" value="Alkali Metals">Alkali Metals<br>
  		<input type="radio" name="q2" value="q2a3">Transitional Metals<br>
  		<input type="radio" name="q2" value="q2a4">Other Halogens<br>
  	<p>3. Ununoctium was renamed what element?</p>
  		<input type="radio" name="q3" value="Oganesson">Oganesson<br>
  		<input type="radio" name="q3" value="q3a2">Moscovium<br>
  		<input type="radio" name="q3" value="q3a3">Elementium<br>
  		<input type="radio" name="q3" value="q3a4">Ununoctium never existed in the first place.<br>
  	<p>4. What is the atomic number of the largest naturally occurring element? </p>
  		<input type="radio" name="q4" value="q4a1">21<br>
  		<input type="radio" name="q4" value="92">92<br>
  		<input type="radio" name="q4" value="q4a3">118<br>
  		<input type="radio" name="q4" value="q4a4">1<br>
  	<p>5. Do you exist?</p>
  		<input type="radio" name="q5" value="q5a1">No<br>
  		<input type="radio" name="q5" value="q5a2">No<br>
  		<input type="radio" name="q5" value="No">No<br>
  		<input type="radio" name="q5" value="q5a4">No<br>
  	<input type="submit">
  	</form>

  </div>

</body>
</html>

